<footer class="uh-footer">
  <div class="container">
    
    <div class="row align-items-center text-center text-md-start">

      <!-- IZQUIERDA -->
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="d-flex align-items-center gap-2 justify-content-center justify-content-md-start">
          <i class="bi bi-browser-firefox fs-4"></i>
          <span class="fw-bold">Playroom</span>
        </div>
        <p class="footer-text mt-2">
          © 2026 Valve Corporation. Todos los derechos reservados.Todas las marcas registradas pertenecen a sus respectivos dueños en EE. UU. y otros países.
        </p>
      </div>

      <!-- CENTRO -->
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <span class="footer-text">
          Trabajo realizado con fines educativos para Programación IV — UTN
        </span>
      </div>

      <!-- DERECHA -->
      <div class="col-12 col-md-4">
        <span class="footer-text fw-semibold">
          Lucila Micaela Suarez
        </span>
      </div>

    </div>

  </div>
</footer>