<div class="container py-4">
    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="game-card" routerLink="/games/ahorcado">
                <img src="imagenes/ahorcado_2.png" alt="Ahorcado">
                <h3>Ahorcado</h3>
                <p>Poné a prueba tu mente y salvate del ahorcado adivinando la palabra letra por letra antes de quedarte sin intentos.</p>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="game-card" routerLink="/games/mayor-menor">
                <img src="imagenes/mayor_menor.jpg" alt="Mayor o Menor" >
                <h3>Mayor o Menor</h3>
                <p>¿Te la jugás? Adiviná si el próximo número será mayor o menor y encadená aciertos sin equivocarte.</p>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="game-card" routerLink="/games/preguntados">
                <img src="imagenes/preguntados_2.png" alt="Preguntados" >
                <h3>Preguntados</h3>
                <p>Desafiá tu conocimiento respondiendo preguntas de todo tipo y sumá puntos como un verdadero crack.</p>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="game-card" routerLink="/games/compatibilidad">
                <img src="imagenes/juego.jpg" alt="Juego Propio">
                <h3>Compatibilidad</h3>
                <p>¿Destino o pura suerte? Ingresá dos nombres y descubrí qué tan compatibles son… pero cuidado, el resultado puede sorprenderte.</p>
            </div>
        </div>
    </div>
</div>